[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-taggit = "==3.0.0"
markdown = "==3.4.1"
psycopg2-binary = "==2.9.3"
pillow = "==9.2.0"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
easy-thumbnails = "*"
django-debug-toolbar = "==3.6.0"
redis = "==4.3.4"
celery = "==5.2.7"
flower = "==1.1.0"
stripe = "==4.0.2"
weasyprint = "==56.1"
django-rosetta = "==0.9.8"
django-parler = "==2.3"
django-localflavor = "==3.1"
django-braces = "==1.15.0"
django-embed-video = "==1.4.4"
pymemcache = "==3.5.2"
django-redisboard = "==8.3.0"
attrs = "*"
djangorestframework = "*"
channels = "==3.0.5"
channels-redis = "==3.4.1"
asgiref = "==3.7.2"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
