[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-taggit = "==3.0.0"
markdown = "==3.4.1"
psycopg2-binary = "==2.9.3"
pillow = "==9.2.0"
social-auth-app-django = "*"
django-extensions = "*"
werkzeug = "*"
pyopenssl = "*"
easy-thumbnails = "*"
django-debug-toolbar = "==3.6.0"
redis = "==4.3.4"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
