Django~=4.2.2
asgiref~=3.7.2
channels~=3.0.5
djangorestframework~=3.14.0
django-braces~=1.15.0
requests~=2.31.0
django-parler~=2.3
redis~=4.3.4
celery~=5.2.7
weasyprint~=56.1
stripe~=4.0.2
Markdown~=3.4.1